@media(max-width:929px) {
    .hero {
        height: 1080px !important;
    }

   

    .hero2 {
       display: none !important;
    }

    .images {
        width: 100% !important;
    }


    /* footer input{
       margin-left: 200px !important;
    }
     footer button{
         margin-left: 200px !important;
     } */
}

@media(max-width:311px) {
    .hero {
        height: 2000px !important;
    }

    .details {
        position: absolute !important;
        top: 350% !important;

    }
}

@media(max-width:273px) {
    .hero {
        height: 2000px !important;
    }

    .details {
        position: absolute !important;
        top: 400% !important;

    }
}

@media(max-width:533px) {
    .details {
        display: none !important;
    }
}
@media(max-width:708px) {
    footer {
        height: 1020px !important;
    }
}
